.details-hidden {
    padding: 1em;
    display: grid;
    justify-items: center;
    margin-bottom: 1em;
    background-color: rgba(1, 212, 250, .5);
    color: white;
    border-radius: 12px;
}

button {
    border-radius: 12px;
    margin-bottom: 1em;
    background-color: darkgreen;
    color: white;
}

img {
    border-radius: 12px;
}

.details-shown {
    padding: 1em;
    max-width: min-content;
    display: grid;
    justify-items: center;
    margin-bottom: 1em;
    background-color: rgba(1, 212, 250, .5);
    color: white;
    border-radius: 12px;
}

.details-shown > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

li {
    margin: 1.5em;
}

li > p {
    margin: 0.25em;
}