.details-hidden {
    padding: 1em;
    display: grid;
    justify-items: center;
    margin-bottom: 1em;
    background-color: rgba(1, 212, 250, .5);
    color: white;
    border-radius: 12px;
    height: 425px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

button {
    border-radius: 12px;
    margin-top: 0;
    margin-bottom: 1em;
    background-color: darkgreen;
    color: white;
    padding: 0.5em;
    justify-self: center;
    align-self: center;
}

img {
    border-radius: 12px;
}

.details-shown {
    padding: 1em;
    display: grid;
    justify-items: center;
    background-color: rgba(1, 212, 250, .5);
    color: white;
    border-radius: 12px;
    height: 425px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.detail-contents {
    max-height: 300px;
    margin: 0px;
    padding: 0px;
}

.detail-contents > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.detail-contents > li {
    margin: 0.5em;
}

li > p {
    margin: 0.25em;
}

.material-name {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding: 0;
}