.details-hidden {
    padding: 1em;
    display: grid;
    justify-items: center;
    margin-bottom: 1em;
    background-color: rgba(1, 212, 250, .5);
    color: white;
    border-radius: 12px;
    height: 425px;
    width: 300px;
}

button {
    border-radius: 12px;
    margin-bottom: 1em;
    background-color: darkgreen;
    color: white;
}

img {
    border-radius: 12px;
}

.details-shown {
    padding: 1em;
    display: grid;
    justify-items: center;
    background-color: rgba(1, 212, 250, .5);
    color: white;
    border-radius: 12px;
    height: 425px;
    width: 300px;
}

.detail-contents {
    max-height: 300px;
    margin: 0px;
    padding: 0px;
}

.detail-contents > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.detail-contents > li {
    margin: 0.5em;
}

li > p {
    margin: 0.25em;
}

.material-name {
    margin-bottom: 0.25em;
}