.container {
    display: grid;
    justify-items: center;
    font-family: serif;
}

.index-sub-header {
    padding: 1em;
    display: grid;
    justify-items: center;
    margin-bottom: 1em;
    background-color: rgba(1, 212, 250, .4);
    border-radius: 12px;
    margin-top: 1em;
}

.index-sub-header p {
    color: white;
    display: inline;
}

h1 {
    color: white;
    font-family: "Playfair Display SC", serif;
}