.container {
    min-width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 0.5em;
    row-gap: 1.5em;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    font-family: serif;
}

.index-sub-header {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.selector {
    align-self: center;
    width: fit-content;
    padding: 0em 1em 0.75em 1em;
    margin: 0.5em;
    background-color: rgba(1, 212, 250, .4);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.selector p {
    color: white;
}